RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
Redirect 301 /www.veterancomputersolutions.com/ https://veterancomputersolutions.com
