.grey-box1, .grey-box2 {
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: block;
}

.grey-box1 {
    background-color: #f5f5f5; /* Light grey color */
}

.grey-box2 {
    background-color: #eeeeee; /* Darker grey color */
}


.separator {
    height: 4px; /* Half of theme.spacing(1) */
    background-color: #666; /* Replace with the actual color from theme.palette.black.main */
    opacity: 0.5;
    width: 64px; /* Adjust as needed */
    margin: auto;
    margin-bottom: 16px; /* Adjust as needed */
}

.separator2 {
    height: 40px; /* theme.spacing(10) */
}
