.header {
    flex-grow: 1;
}

.footer {
    width: 100%;
    max-width: 100%;
    background-color: #014494;
}

.main-logo {
    background: transparent;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden; /* To ensure border-radius applies to children including images */
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.card-media {
    width: 100%;
    height: 200px; /* Adjust height as needed */
    overflow: hidden;
    position: relative;
}

.card-media img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the area, you can also use 'contain' based on your needs */
}

.card-header {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
    padding: 16px;
}

.card-content {
    font-size: 16px;
    color: #666;
    padding: 0 16px 16px 16px;
}

.card-actions {
    margin-top: 16px;
    padding: 0 16px 16px 16px;
    display: flex;
    justify-content: flex-end;
}

.info-box, .info-box-alt {
    padding: 16px; /* Adjust as needed */
    margin: 8px;
    border-radius: 5px;
}

.info-box {
    background-color: #e0e0e0; /* Main style background */
}

.info-box-alt {
    background-color: #c0c0c0; /* Alternate style background */
}

.info-box-title {
    color: #000;
    font-weight: 550;
    font-size: 32px; /* Adjust as needed */
}

.info-box-text {
    color: #333;
    font-size: 16px; /* Adjust as needed */
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .info-box-title {
        font-size: 24px; /* Smaller font size on small screens */
        text-align: center;
    }
}


